.fBasic {
  color: #818592;
}
.fBasic {
  font-size: 16px;
  color: #818592;
  position: relative;
}

/* .fBasic::after {
  content: "▼";
  font-size: 12px;
  color: #45b4d0;
  margin-left: 5px;
} */
.navbarPanel {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  /* margin: 0 auto; */
}
.navbarIcon {
  height: 24px;
  margin-right: 1rem;
}
.headerIcon {
  height: 42px;
  border-radius: 50px;
}
.userPanelContent {
  background-color: #e6eff6;
  /* max-width: 160rem; */
  color: #818592;
  display: flex;
  /* flex-direction: column; */
  margin: 0 auto;
  min-height: 100vh;
}

.navbarLeft {
  width: auto;
  /* padding-right: 2rem; */
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  margin-top: 4.5rem;
  padding-top: 2rem;
}
.heroContainerBox {
  background-color: white;
  width: 50rem;
  border-radius: 1%;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.2);
  margin: 12rem auto;
  height: 46rem;
}
.heroContainerContent {
  margin: 1.2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userPanelContent li {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
}
.userPanelContent li:hover {
  background-color: #45b4d01c;
}
.selected {
  color: #45b4d0;
  background-color: #45b4d01c;
  filter: invert(70%) sepia(74%) saturate(651%) hue-rotate(162deg)
    brightness(96%) contrast(100%);
}
.avatarPicture {
  height: 100px;
  border-radius: 50%;
}
.header {
  align-self: flex-start;
  color: rgb(8, 8, 78);
  font-size: 1.5rem;
}
.userP {
  color: rgb(0, 195, 255);
}
.adminP {
  color: rgb(218, 196, 7);
}
.btnMainBlue {
  color: white;
  background-color: #45b4d0;
  padding: 8px 25px;
  border-radius: 50px;
}
.btnMainBlue:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.btnMainBlue:active {
  transform: translateY(-0.5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btnMainGreen {
  color: white;
  background-color: #22be2a;
  padding: 8px 25px;
  border-radius: 50px;
}
.btnMainGreen:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.btnMainGreen:active {
  transform: translateY(-0.5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btnMainDisabled {
  color: white;
  background-color: #4a5355;
  padding: 8px 25px;
  border-radius: 50px;
  cursor: not-allowed;
}
.profileGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.profileGrid div {
  background-color: rgb(238, 238, 238);
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
}
.profileGrid h2 {
  font-size: 2.5rem;
}
.gridCard1 {
  border-left: 5px solid #3c56a9;
}
.gridCard1 h2 {
  color: #3c56a9;
}
.gridCard2 {
  border-left: 5px solid #f1c312;
}
.gridCard2 h2 {
  color: #f1c312;
}
.gridCard3 {
  border-left: 5px solid #45b4d0;
}
.gridCard3 h2 {
  color: #45b4d0;
}
.userDetailsContainer p {
  margin-bottom: 32px;
}
.inputPanel {
  padding: 0.5rem 1rem;
  background-color: rgba(2, 95, 235, 0.185);
  border: solid rgb(134, 132, 132) 1px;
  border-radius: 5px;
  color: rgb(58, 57, 57);
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
}
.formGroup {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.formGroup label {
  width: 100px;
  text-align: right;
  margin-right: 15px;
}
.textArea {
  min-width: 25rem;
  min-height: 15rem;
  resize: none;
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
  background-color: rgba(2, 95, 235, 0.185);
}
@media screen and (max-width: 1200px) {
  .userPanelContent {
    flex-direction: column;
  }
  .heroContainerBox {
    width: auto;
    margin: 0 0;
    height: fit-content;
  }
  .profileGrid {
    grid-template-columns: 1fr;
  }
  .navbarLeft {
    margin-top: 4.5rem;
    padding-top: 0;
  }
  .textArea {
    min-width: 5vh;
    min-height: 20vh;
  }
  .formGroup label {
    width: 50px;
    text-align: right;
    margin-right: 15px;
  }
}
